.rick {
  margin: 10px;
  border: solid rgb(5, 227, 49) 3px;
  border-radius: 5px;
  background-color: rgb(55, 225, 13);
  opacity: 0.8;
}

.box {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;

}

h1 {
  text-align: center;
}

section {
  text-align: center;
}